<h1>Add a New Photo</h1>

<form action="/photo/create_photo">
  Caption:
  <input name="caption" type="text">

  Source:
  <input name="source" type="text">

  <button>Create Photo</button>
</form>

<p><a href="/photos">Cancel and go back</a></p>

